/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif;
    height:100%;
    background-image:linear-gradient(to right, rgba(0,0,255,1), rgba(255,0,0,0));
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}